@import "src/styles/variables";

.projects {
    padding: 130px 0;
    min-height: 100vh;
    height: 100%;
    background-color: $black2;

    &__wrapper {
        z-index: 2;
    }

    &__list {
        position: relative;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        overflow: hidden;

        &__line {
            position: absolute;
            height: 100%;
            left: 50%;
            right: 50%;
            width: 4px;
            background-color: $green;
        }
    }
}

@include mobile-viewport {
    .projects {
        padding: 80px 0;

       &__list__line {
          left: 25px;
          right: unset;
       }
    }
}