@import "src/styles/variables";

.bannerText {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    justify-content: center;

    &__greetings {
        margin-bottom: 1em;
        font-size: 1.7em;
    }

    &__name {
        font-size: 3em;
        color: $green;
        max-width: 450px;
        font-weight: 700;
    }

    &__post {
        margin-top: 1em;
        font-size: 2em;
    }
}