@import "src/styles/variables";

.button {
    padding: 2px;
    background: linear-gradient(180deg, $green 0%, $white 100%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 1.3em;
    cursor: pointer;
    min-width: 170px;

    &__wrapper {
        background-color: $black;
        padding: 10px 20px;
        border-radius: 8px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:hover {
            color: $green;
            transition: 0.3s ease color;
        }
    }

    &__inline {
        padding: 0;
        background: none;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: 1.3em;
        cursor: pointer;
        min-width: unset;
        border: none;

        .button__wrapper {
            background: none;
            padding: 0;
            border-radius: 0;
            min-width: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}