@import "src/styles/variables";

.numbersBanner {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;

        transform: translateY(100%);
        filter: blur(15px);
        opacity: 0;

        span:first-child {
            font-size: 3.6em;
            color: $greyMain;
            font-weight: 700;
        }
        span:last-child {
            font-size: 1.4em;
            color: $grey2;
            white-space: pre-wrap;
        }
    }

    &_animation {
        .numbersBanner__item {
            transform: translateY(0);
            filter: blur(0);
            opacity: 1;
            transition: 1s ease all 1.6s;
        }
    }
}