@import "src/styles/variables";

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
    row-gap: 10px;
    height: 70px;
}