@import "src/styles/variables";

.footer {
   padding: 25px 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 20px;

   &__title {
      font-size: 1.6em;
      color: $green;
   }

   &__text {
      font-size: 1.4em;
      color: $greyMain;
   }
}