@import "src/styles/variables";

.logo {
    display: flex;
    flex-direction: row;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    order: 1;

    span:first-child {
        color: $greyMain;
    }

    span:last-child {
        color: $white;
    }
}

@include tablet-viewport {
    .logo {
        display: none;
    }
}